{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "app": true,
    "define": true
  },
  "rules": {
    "brace-style": ["error", "1tbs", {"allowSingleLine": true}],
    "indent": ["error", 2, {"VariableDeclarator": 2}],
    "no-constant-condition": "off",
    "no-extra-strict": "off",
    "no-process-exit": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["error", {"vars": "all", "args": "none"}],
    "no-use-before-define": "off",
    "quotes": "off",
    "space-before-function-paren": [1, {"anonymous": "never", "named": "never"}],
    "strict": "off"
  }
}
